@font-face {
    font-family: 'Gilroy Extra Bold';
    src: url('Gilroy-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Gilroy Light';
    src: url('Gilroy-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: left;
    color: #464646;

    background-color: #ffffff;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

a {
    text-decoration: none;
    color: #000000;
  }

ul {
    list-style: none;
 }

button {
  border: none;
  background: none;
}

.page-header {
    background-color: rgba(240, 197, 46, 0.5);
  }

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.6;
}

.main-header-logo:active {
    opacity: 0.3;
}

input[type="search"] {
    background: none;
    border: none;
    width: 356px;
    height: 49px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.3);;
}

input[type="search"]:focus {
    border-bottom: 2px solid #000000;
}

.search-button {
    width: 85px;
    height: 49px;
    border: solid 2px #000000;
    text-align: center;
    color: #000000;
    padding: 13px 21px;
}

.main-navigation a.search-button:hover,
.main-navigation a.search-button:focus {
    background: #000000;
    color: #ffffff;
}

.main-navigation a.search-button:active {
    background: #000000;
    color: rgba(255, 255, 255, 0.3);
}

.header-site-navigation {
    font-family: "Gilroy Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;
}

.show-hidden-categories {
    border: none;
    background: none;
}

.hidden-categories-list {
    line-height: 36px;
    color: #000000;
}

.header-user-options {
    color: #000000;
}

.logout-link {
  opacity: 0.3;
}

.main-navigation a:hover,
.header-user-options a:hover,
.main-navigation a:focus,
.header-user-options a:focus,
input:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active,
.header-user-options a:active {
    color: rgba(0, 0, 0, 0.3);
}

input:focus::placeholder {
    color: #000000;
}

h1, h3 {
    font-family: "Gilroy Extra Bold", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.47px;
    color: #000000;
}

h3.slider-slogan {
  line-height: 56px;
}

.slide-number {
    font-family: "Gilroy Extra Bold", sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 179px;
    letter-spacing: 1.79px;
    text-align: right;
    color: #ffffff;
}

.slider-text-big {
    font-family: "Gilroy Light", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: 0.36px;
    color: #000000;
}

.slider-text-small {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
}

.button {
    width: 220px;
    height: 40px;
    background: linear-gradient(0deg, transparent 0px, transparent 18px, #f0c52e 18px,  #f0c52e 26px, transparent 26px, transparent 40px);
    text-transform: uppercase;
    font-family: "Gilroy Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-align: center;
    vertical-align: middle;
    color: #000000;
    padding: 14px 43px 11px 44px;
}

.button:hover,
.button:focus {
    background: #f0c52e;
}

.button:active {
    background: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}

figure.category-image {
    width: 160px;
    height: 160px;
    background-color: rgba(240, 197, 46, 0.5);
    text-align: center;
}

.category-link h4 {
    font-family: "Gilroy Extra Bold", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0.18px;
    color: #000000;
  }

li.category-link:active {
    opacity: 0.3;
}

figure.category-image:hover,
figure.category-image:focus,
figure.category-image:active {
    background-color: #f0c52e;
}

.services {
    background: #e5e5e5;
}

.service-button {
    width: 160px;
    height: 40px;
}

.service-button:active {
    width: 278px; /** Не сработало. Посмотреть еще раз */
    background: #000000;
    color: #f7e184;
}

p.service-description {
    letter-spacing: normal;
}

ul.delivery-companies{
    font-family: "Gilroy Extra Bold", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;
    color: #000000;
    letter-spacing: normal;
    list-style: circle;
}

button.open-map {
  border: none;
  background: none;
}

.main-footer {
    background-color: #464646;
    color: #ffffff;
}

.footer-logo img,
.footer-copyright img {
  object-fit: contain;
  background-color: #ffc600;
}

.footer-user-options a {
  color: #ffffff;
  opacity: 0.7;
  line-height: 36px;
}

.footer-site-navigation a {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-transform: uppercase;
}

a.social-button {
  color: #ffffff;
  opacity: 0.3;
}

.footer-logo img:hover,
.footer-logo img:focus,
.footer-copyright img:hover,
.footer-copyright img:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
a.social-button:hover,
a.social-button:focus {
  opacity: 0.6;
}

.footer-user-options a:hover,
.footer-user-options a:focus {
  opacity: 1;
}

.footer-logo img:active,
.footer-copyright img:active,
.footer-site-navigation a:active,
.footer-user-options a:active {
  opacity: 0.3;
}

a.social-button:active {
  opacity: 0.1;
}

.modal-contact-us {
  width: 960px;
  height: 553px;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.modal-contact-us label {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
}

.modal-contact-us input {
  width: 360px;
  height: 50px;
  border: none;
  background: #f2f2f2;
}

.modal-contact-us input::placeholder {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
  padding: 20px;
}

.modal-contact-us textarea {
  width: 760px;
  height: 156px;
  border: none;
  background: rgba(229, 229, 229, 0.5);
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
  padding: 20px;
}

.modal-contact-us input:hover {
  background: #eaeaea;
}

.modal-contact-us input:focus {
  background: #ffffff;
  border: 3px solid #f0c52e;
}

.modal-contact-us input:focus::placeholder {
  color: #464646;
}

.modal-contact-us input:disabled {
  background: #f6dada;
}

.submit-button {
  border: none;
}

.close-button {
  border: none;
  background: none;
  opacity: 0.5;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active{
  opacity: 0.3;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters,
.sorting {
  background: #ebebeb;
}

h2 {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
}

fieldset.filter {
  border: none;
  color: #000000;
}

.filter legend {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.price-label {
  font-family: "Gilroy Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.2)
}

.filter-checkbox,
.filter-radiobutton {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}


.filter-checkbox:disabled + label,
.filter-radiobutton:disabled + label {
  opacity: 25%;
  color: #a6a6a6;
} /*Не сработал. Проверить*/

.sort-by {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-direction {
  opacity: 0.2;
}

.sorting-direction:hover,
.sorting-direction:focus {
  opacity: 0.4;
}

.sorting-direction-current,
.sorting-direction:active {
 opacity: 1;
}

.sort-by:hover,
.sort-by:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-by-current,
.sort-by:active {
 color:#000000;
}

h3.catalog-item-title {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

p.catalog-item-price {
  font-family: "Gilroy Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
}

.catalog-pagination {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 16px;
  font-weight: 24px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
  background: #ebebeb;
  text-transform: uppercase;
}

.page-numbers {
  color: rgba(0, 0, 0, 0.3)
}

.page-current {
  color: #000000;
}

.go-forward {
  text-align: right;
}
