@font-face {
  font-family: 'Gilroy Extra Bold';
  src: url('Gilroy-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy Light';
  src: url('Gilroy-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-align: left;
  color: #464646;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 2px solid blue;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  background-color: rgba(240, 197, 46, 0.5);
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  outline: 2px solid blue;
}

.header-logo-wrap {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
}

.main-header-logo img {
  outline: 2px solid blue;
  margin-top: -17px;
  margin-bottom: 25px;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.6;
}

.main-header-logo:active {
  opacity: 0.3;
}

.search-wrap {
  display: flex;
  width: 1040px;
  outline: 2px solid blue;
  align-items: baseline;
}

.search-form {
  width: 440px;
  height: 50px;
  outline: 2px solid blue;
  display: flex;
  align-content: center;
  position: relative;
}

.search-form::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/search.svg") no-repeat 0 0;
  position: absolute;
  top: 17px;
  left: 3px;
}

input[type="search"] {
  background: none;
  border: none;
  width: 355px;
  height: 50px;
  padding-left: 36px;
  box-sizing: border-box;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-button {
  display: none;
  width: 85px;
  height: 50px;
  border: solid 2px #000000;
  text-align: center;
  padding: 8px 0;
  color: #000000;
  box-sizing: border-box;
}

input[type="search"]:focus {
  border-bottom: 2px solid #000000;
}

input[type="search"]:focus + .search-button {
  display: block;
  outline: 5px auto rgba(0, 150, 255, 1);
}

.main-navigation a.search-button:hover,
.main-navigation a.search-button:focus {
  background: #000000;
  color: #ffffff;
}

.main-navigation a.search-button:active {
  background: #000000;
  color: rgba(255, 255, 255, 0.3);
}

.header-site-navigation {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  width: 1040px;
  display: flex;
  outline: 2px solid blue;
  margin-bottom: 54px;
  margin-top: 40px;
}

.header-site-navigation li {
  outline: 2px solid blue;
  margin-left: 40px;
}

.header-site-navigation li:first-child {
  margin-right: auto;
  margin-left: 0;
  position: relative;
}

.header-site-navigation li:nth-child(2) {
  margin-left: 182px;
}

.header-site-navigation li:last-child {
  margin-left: auto;
}

.form-hidden-categories {
  display: inline-block;
}

.plus-link + label {
  display: inline-block;
  width: 16px;
  height: 18px;
  margin: 0;
  padding: 0;
  margin-left: 16px;
  background: url("../img/plus.svg") no-repeat 0 3px;
  opacity: 0.3;
}

input.plus-link:focus + label {
  outline: 5px auto rgba(0, 150, 255, 1);
}

.hidden-categories-list {
  display: none;
  line-height: 36px;
  color: #000000;
  width: 1100px;
  height: 129px;
  margin-bottom: 50px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-transform: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  outline: 2px solid blue;
  position: absolute;
  top: 60px;
  left: -60px;
  background: #f7e296;
  padding-left: 60px;
  z-index: 100;
}

.form-hidden-categories:hover .hidden-categories-list,
.form-hidden-categories:focus .hidden-categories-list,
input.plus-link:checked ~ .hidden-categories-list {
  display: flex;
}

.form-hidden-categories .hidden-categories-list li {
  margin: 0;
  margin-right: 70px;
}

.hidden-categories-list li:nth-child(5) {
  margin-bottom: 30px;
}

.hidden-categories-list li:nth-child(6) {
  margin-left: 7px;
}

.header-user-options {
  color: #000000;
  min-height: 24px;
  width: 500px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  outline: 2px solid blue;
  justify-content: flex-end;
  white-space: nowrap;
}

.header-user-options li {
  outline: 2px solid blue;
  margin-left: 45px;
  position: relative;
}

.header-user-options li:first-child {
  margin-right: auto;
  margin-left: 0;
  padding-left: 27px;
  align-self: flex-start;
}

.header-user-options .logout-link {
  opacity: 0.3;
  margin-right: auto;
  margin-left: 20px;
}

.header-user-options li:first-child::before {
  content: "";
  width: 13px;
  height: 12px;
  background: url("../img/user.svg") no-repeat 0 0;
  position: absolute;
  top: 10px;
  left: 0;
}

.header-compare-link {
  padding-left: 20px;
}

.header-compare-link::before {
  content: "";
  width: 10px;
  height: 10px;
  background: url("../img/compare.svg") no-repeat 0 0;
  position: absolute;
  top: 10px;
  left: 0;
}

.header-cart-link {
  padding-left: 24px;
}

.header-cart-link::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("../img/cart.svg") no-repeat 0 0;
  position: absolute;
  top: 10px;
  left: 0;
}

.main-navigation a:hover,
.header-user-options a:hover,
.main-navigation a:focus,
.header-user-options a:focus,
input:hover::placeholder,
.header-user-options li:hover::before,
.header-user-options li:focus::before {
  opacity: 0.6;
}

.main-navigation a:active,
.header-user-options a:active,
.header-user-options li:active::before {
  opacity: 0.3;
}

a.search-button:hover,
a.search-button:focus {
  opacity: 1;
  color: #ffffff;
}

a.search-button:active {
  opacity: 1;
  color: rgba(255, 255, 255, 0.3);
}

input:focus::placeholder {
  color: #000000;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 2px solid blue;
}

h1, h3 {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
}

.slider-wrap {
  width: 1160px;
  height: 113px;
  background-color:  rgba(240, 197, 46, 0.5);
}

.slider {
  position: relative;
}

.slide {
  display: none;
  width: 1160px;
  height: 500px;
  justify-content: space-between;
  outline: 2px solid blue;
  margin: 0;
  margin-bottom: 100px;
  margin-top: -112px;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 560px;
  min-height: 500px;
  outline: 2px solid blue;
  position: relative;
}

.column img {
  align-self: center;
}

h3.slider-slogan {
  line-height: 56px;
  flex-basis: 100px;
  margin: 0;
  margin-bottom: 35px;
  margin-top: 80px;
  outline: 2px solid blue;
  z-index: 10;
}

.slide-number {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  letter-spacing: 1.79px;
  text-align: right;
  color: #ffffff;
  min-width: 200px;
  min-height: 150px;
  order: -1;
  outline: 2px solid blue;
  position: absolute;
  top: -12px;
  right: 40px;
}

.slide-number::before {
  content: "";
  width: 100px;
  height: 7px;
  background: #ffffff;
  position: absolute;
  right: 420px;
  top: 45px;
}

.slider-description {
  flex-basis: 60px;
  margin: 0;
  margin-bottom: 35px;
  outline: 2px solid blue;
}

.slider-features {
  width: 480px;
  height: 70px;
  margin: 0;
  margin-top: 50px;
  display: flex;
  outline: 2px solid blue;
}

.slider-feature {
  width: 160px;
  height: 70px;
  margin: 0;
  outline: 2px solid blue;
}

.slider-text-big {
  font-family: "Gilroy Light", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
  margin: 0;
}

.slider-text-small {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  margin: 0;
}

.pagination-wrap {
  display: flex;
  width: 220px;
  outline: 2px solid blue;
}

.slider-controls {
  position: absolute;
  top: 220px;
  right: 50px;
  z-index: 50;
  display: flex;
  flex-wrap: wrap;
}

.slider-controls label {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url("../img/slider-button-empty.svg") no-repeat 0 0;
  background-size: 12px;
  margin-left: 20px;
}

#show-slide-1:focus ~ .slider-controls label[for="show-slide-1"] {
  outline: 5px auto rgba(0, 150, 255, 1);
}

#show-slide-2:focus ~ .slider-controls label[for="show-slide-2"] {
  outline: 5px auto rgba(0, 150, 255, 1);
}

#show-slide-3:focus ~ .slider-controls label[for="show-slide-3"] {
  outline: 5px auto rgba(0, 150, 255, 1);
}

#show-slide-1:checked ~ .slider-list #slide-1 {
  display: flex;
}

#show-slide-1:checked ~ .slider-controls label[for="show-slide-1"] {
  background: url("../img/slider-button.svg") no-repeat 0 0;
  background-size: 12px;
}

#show-slide-2:checked ~ .slider-list #slide-2 {
  display: flex;
}

#show-slide-2:checked ~ .slider-controls label[for="show-slide-2"] {
  background: url("../img/slider-button.svg") no-repeat 0 0;
  background-size: 12px;
}

#show-slide-3:checked ~ .slider-list #slide-3 {
  display: flex;
}

#show-slide-3:checked ~ .slider-controls label[for="show-slide-3"] {
  background: url("../img/slider-button.svg") no-repeat 0 0;
  background-size: 12px;
}

.button {
  display: inline-block;
  height: 40px;
  background: linear-gradient(0deg, transparent 0, transparent 16px, #f0c52e 16px,  #f0c52e 24px, transparent 24px, transparent 40px);
  text-transform: uppercase;
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-align: center;
  color: #000000;
  padding: 8px 0;
  box-sizing: border-box;
}

.more {
  width: 220px;
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:active {
  background: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  display: flex;
  width: 80px;
  justify-content: space-between;
  outline: 2px solid blue;
  margin-left: auto;
  margin-right: 20px;
  align-items: center;
}

.categories-list {
  display: flex;
  width: 1160px;
  margin-bottom: 185px;
  justify-content: space-between;
  align-items: flex-start;
  outline: 2px solid blue;
}

.category-link {
  width: 160px;
  outline: 2px solid blue;
}

.category-image {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  text-align: center;
  margin: 0;
  display: flex;
  outline: 2px solid blue;
  justify-content: center;
  align-items: center;
}

.category-link:nth-child(2) .category-image {
  align-items: flex-end;
}

.category-link h4 {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  margin: 0;
  margin-top: 40px;
}

.category-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.category-link:active img {
  opacity: 0.3;
}

.category-link:hover figure,
.category-link:focus figure,
.category-link:active figure {
  background-color: #f0c52e;
}

.services {
  background: #e5e5e5;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 94px;
  outline: 2px solid blue;
  position: relative;
}

.services-list {
  margin: 0;
  width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 2px solid blue;
  margin-bottom: 150px;
  margin-top: -100px;
  box-sizing: border-box;
  margin-left: 540px;
}

.services-list li {
  display: none;
  margin: 0;
  width: 760px;
  outline: 2px solid blue;
}

.services-list li img {
  align-self: center;
  margin-top: 80px;
}

.service-controls {
  width: 278px;
  height: 320px;
  border-right: 7px solid #000000;
  outline: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 140px;
  top: -80px;
}

#delivery:focus ~ .service-controls label[for="delivery"] {
  outline: 5px auto rgba(0, 150, 255, 1);
}

#warranty:focus ~ .service-controls label[for="warranty"] {
  outline: 5px auto rgba(0, 150, 255, 1);
}

#credit:focus ~ .service-controls label[for="credit"] {
  outline: 5px auto rgba(0, 150, 255, 1);
}

.service-controls label {
  flex-basis: 40px;
  width: 160px;
  margin-top: 20px;
}

.service-controls label:first-child {
  margin-top: 60px;
}

.service-column {
  width: 460px;
  margin-right: 75px;
  outline: 2px solid blue;
}

.service-column h3 {
  margin-bottom: 45px;
  margin-top: 70px;
}

.service-button:active {
  width: 278px;
  background: #000000;
  color: #f7e184;
  text-align: left;
  padding-left: 23px;
}

.service-description {
  letter-spacing: normal;
}

#delivery:checked ~ .services-list .delivery {
  display: flex;
}

#delivery:checked ~ .service-controls label[for="delivery"] {
  width: 278px;
  background: #000000;
  color: #f7e184;
  text-align: left;
  padding-left: 23px;
}

#warranty:checked ~ .services-list .warranty {
  display: flex;
}

#warranty:checked ~ .service-controls label[for="warranty"] {
  width: 278px;
  background: #000000;
  color: #f7e184;
  text-align: left;
  padding-left: 23px;
}

#credit:checked ~ .services-list .credit {
  display: flex;
}

#credit:checked ~ .service-controls label[for="credit"] {
  width: 278px;
  background: #000000;
  color: #f7e184;
  text-align: left;
  padding-left: 23px;
}

.logotypes {
  display: flex;
  width: 1160px;
  justify-content: space-around;
  margin: 0;
  outline: 2px solid blue;
}

.logotypes li {
  position: relative;
}

.logotypes li::before {
  content: "";
  width: 260px;
  height: 100px;
  background-size: 260px 100px;
  position: absolute;
}

.logotypes li:first-child:hover::before {
  background: url("../img/logo-1.png") no-repeat 0 0;
}

.logotypes li:nth-child(2):hover::before {
  background: url("../img/logo-2.png") no-repeat 0 0;
}

.logotypes li:nth-child(3):hover::before {
  background: url("../img/logo-3.png") no-repeat 0 0;
}

.logotypes li:nth-child(4):hover::before {
  background: url("../img/logo-4.png") no-repeat 0 0;
}

.info {
  display: flex;
  width: 1160px;
  margin: 0;
  margin-top: 160px;
  margin-bottom: 80px;
  outline: 2px solid blue;
  justify-content: space-between;
}

.about-us,
.contacts {
  display: flex;
  flex-direction: column;
  outline: 2px solid blue;
  position: relative;
}

.about-us {
  width: 490px;
}

.contacts {
  width: 560px;
}

.about-us::before,
.contacts::before {
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: -60px;
}

.info h3 {
  margin: 0;
  margin-bottom: 60px;
}

.info p {
  margin-bottom: 45px;
}

.delivery-companies {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
  letter-spacing: normal;
  list-style: none;
  padding-left: 35px;
  margin-top: 0;
  margin-bottom: 72px;
}

.delivery-companies li {
  position: relative;
}

.delivery-companies li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  left: -30px;
}

.info-button,
.contact-us-button {
  width: 260px;
}

button.open-map {
  border: none;
  background: none;
  margin-bottom: 72px;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
  display: flex;
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrap {
  width: 1160px;
  height: 200px;
  display: flex;
  flex-direction: column;
  outline: 2px solid blue;
}

.footer-top-wrap {
  display: flex;
  width: 1160px;
  height: 36px;
  justify-content: space-between;
  outline: 2px solid blue;
}

.footer-user-options {
  display: flex;
  max-width: 520px;
  justify-content: flex-end;
  align-items: flex-end;
  height: 36px;
  outline: 2px solid blue;
}

.footer-user-options li {
  margin: 0;
  margin-left: 40px;
  outline: 2px solid blue;
  position: relative;
}

.footer-user-options li:first-child {
  margin-left: 0;
  padding-left: 26px;
}

.footer-user-options .logout-link {
  opacity: 0.3;
  margin-right: 0;
  margin-left: 20px;
}

.footer-user-options a {
  color: #ffffff;
  opacity: 0.7;
  line-height: 36px;
}

.footer-user-options li:first-child::before {
  content: "";
  width: 13px;
  height: 12px;
  background: url("../img/user-footer.svg") no-repeat 0 0;
  position: absolute;
  top: 12px;
  left: 0;
  opacity: 1;
}

.footer-compare-link {
  padding-left: 20px;
}

.footer-compare-link::before {
  content: "";
  width: 10px;
  height: 10px;
  background: url("../img/compare-footer.svg") no-repeat 0 0;
  position: absolute;
  top: 12px;
  left: 0;
  opacity: 1;
}

.footer-cart-link {
  padding-left: 24px;
}

.footer-cart-link::before {
  content: "";
  width: 12px;
  height: 12px;
  background: url("../img/cart-footer.svg") no-repeat 0 0;
  position: absolute;
  top: 12px;
  left: 0;
  opacity: 1;
}

.footer-middle-wrap {
  display: flex;
  width: 1160px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
  outline: 2px solid blue;
}

.footer-middle-wrap p {
  outline: 2px solid blue;
}

.footer-site-navigation {
  display: flex;
  width: 440px;
  justify-content: space-between;
  align-items: center;
  outline: 2px solid blue;
}

.footer-site-navigation a {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-bottom-wrap {
  display: flex;
  width: 1160px;
  height: 35px;
  outline: 2px solid blue;
  justify-content: space-between;
  position: relative;
}

.footer-bottom-wrap::before {
  content: "";
  width: 80px;
  height: 7px;
  background: #ffc600;
  position: absolute;
  top: 13px;
}

.footer-social {
  display: flex;
  width: 160px;
  justify-content: space-around;
  outline: 2px solid blue;
  margin-left: 515px;
  margin-right: auto;
}

a.social-button {
  color: #ffffff;
  opacity: 0.3;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-size: 32px;
}

.fb {
  background: url("../img/fb.svg") no-repeat 0 0;
}

.inst {
  background: url("../img/inst.svg") no-repeat 0 0;
}

.twitter {
  background: url("../img/twitter.svg") no-repeat 0 0;
}

.footer-logo img:hover,
.footer-logo img:focus,
.footer-copyright img:hover,
.footer-copyright img:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
a.social-button:hover,
a.social-button:focus {
  opacity: 0.6;
}

.footer-user-options a:hover,
.footer-user-options a:focus {
  color: #ffffff;
  opacity: 1;
}

.footer-user-options li:hover::before,
.footer-user-options li:focus::before{
  opacity: 0.6;
}

.footer-user-options li:active::before {
  opacity: 0.3;
}

.footer-logo img:active,
.footer-copyright img:active,
.footer-site-navigation a:active,
.footer-user-options a:active {
  opacity: 0.3;
}

a.social-button:active {
  opacity: 0.1;
}

.modal {
  margin: auto;
  position: fixed;
  z-index: 90;
  top: 150px;
}

.modal-contact-us {
  width: 960px;
  height: 553px;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  background: #ffffff;
  flex-direction: column;
  outline: 2px solid blue;
  display: none;
}

.modal-contact-us form {
  width: 760px;
  outline: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 85px;
}

.contact-info-wrap {
  display: flex;
  width: 760px;
  height: 90px;
  justify-content: space-between;
  margin-bottom: 40px;
  outline: 2px solid blue;
}

.contact-info-column {
  outline: 2px solid blue;
  width: 360px;
}

.modal-contact-us label {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 13px;
}

.modal-contact-us input {
  width: 360px;
  height: 50px;
  border: none;
  background: #f2f2f2;
  margin-top: 10px;
  box-sizing: border-box;
}

.modal-contact-us input::placeholder {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
  padding: 20px;
}

.modal-contact-us textarea {
  width: 720px;
  height: 116px;
  border: none;
  background: rgba(229, 229, 229, 0.5);
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(70, 70, 70, 0.4);
  padding: 20px;
  margin-bottom: 20px;
}

.modal-contact-us input:hover {
  background: #eaeaea;
}

.modal-contact-us input:focus {
  background: #ffffff;
  border: 3px solid #f0c52e;
}

.modal-contact-us input:focus::placeholder {
  color: #464646;
}

.modal-contact-us input:invalid {
  background: #f6dada;
}

.modal-map {
  width: 960px;
  height: 559px;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
  display: none;
  flex-direction: column;
  outline: 2px solid blue;
  margin: auto;
}

.close-button {
  border: none;
  opacity: 0.5;
  order: -1;
  margin: 22px;
  margin-left: auto;
  width: 55px;
  height: 55px;
  outline: 2px solid blue;
  width: 55px;
  height: 55px;
  background: url("../img/modal-close.svg") no-repeat 0 0;
  z-index: 1;
  position: absolute;
  right: 0;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active{
  opacity: 0.3;
}

.catalog-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  outline: 2px solid blue;
}

.page-title {
  width: 1040px;
  outline: 2px solid blue;
  margin-top: 40px;
  margin-bottom: 25px;
}

.breadcrumbs {
  width: 1040px;
  display: flex;
  outline: 2px solid blue;
  margin-bottom: 49px;
  align-items: baseline;
}

.breadcrumbs li {
  margin-right: 39px;
  position: relative;
}

.breadcrumbs li:first-child::after,
.breadcrumbs li:nth-child(2)::after {
  content:"";
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg") no-repeat 0 0;
  background-size: 4px 7px;
  position: absolute;
  top: 13px;
  left: 72px;
}

.breadcrumbs li:nth-child(2)::after {
  left: 128px;
}

.breadcrumbs a,
.breadcrumbs-current {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-columns {
  width: 100%;
  display: flex;
  outline: 2px solid blue;
  justify-content: center;
}

.filters,
.sorting {
  background: #ebebeb;
}

.filters {
  display: flex;
  flex-direction: column;
  outline: 2px solid blue;
  width: 470px;
}

.filter-form {
  width: 200px;
  outline: 2px solid blue;
  margin-left: 200px;
  margin-right: 70px;
  margin-top: 80px;
}

.filter-form fieldset {
  outline: 2px solid blue;
}

h2 {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 3.2px;
  color: #000000;
  text-transform: uppercase;
}

.filter-title-wrap {
  outline: 2px solid blue;
  height: 70px;
  background-color: #d9d9d9;
  margin: 0;
}

h2.catalog-filter {
  width: 100px;
  outline: 2px solid blue;
  margin-left: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
}

fieldset.filter {
  border: none;
  color: #000000;
  margin-top: 20px;
  margin-left: -10px;
  position: relative;
}

fieldset.filter::before {
  content: "";
  width: 201px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: -16px;
  left: 9px;
}

fieldset.filter:first-child {
  margin-top: 0;
}

.filter legend {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  margin-bottom: 10px;
}

.price-label {
  font-family: "Gilroy Light", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: normal;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 68px;
}

.max-price {
 left: 100px;
}

.range-filter {
  width: 196px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.range-controls {
  position: relative;
  height: 40px;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 110px;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
}

input[type="range"]:focus + label,
.range-min-price:focus ~ .range-filter .range-controls .toggle-min,
.range-max-price:focus ~ .range-filter .range-controls .toggle-max {
  outline: 5px auto rgba(0, 150, 255, 1);
}

.range-controls .toggle-min {
  left: -5px;
}

.range-controls .toggle-max {
  left: 93px;
}

.filter-checkbox input + label,
.filter-radiobutton input + label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
  padding-left: 40px;
  position: relative;
}

.filter-checkbox input + label::before {
  content: "";
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  background-size: 23px;
  position: absolute;
  top: -2px;
  left: 0;
}

.filter-radiobutton input + label::before {
  content: "";
  width: 25px;
  height: 25px;
  background: url("../img/radio-off.svg") no-repeat 0 0;
  background-size: 25px;
  position: absolute;
  top: -2px;
  left: 0;
}

.filter-checkbox input:focus + label::before,
.filter-radiobutton input:focus + label::before {
  outline: 5px auto rgba(0, 150, 255, 1);
}

.filter-checkbox input:hover + label::before,
.filter-checkbox input:focus + label::before,
.filter-radiobutton input:hover + label::before,
.filter-radiobutton input:focus + label::before  {
  opacity: 0.6;
}

.filter-checkbox input:active + label::before,
.filter-radiobutton input:active + label::before  {
  opacity: 1;
}

.filter-checkbox input:disabled + label::before,
.filter-radiobutton input:disabled + label::before  {
  opacity: 0.25;
}

.filter-checkbox input:disabled + label,
.filter-radiobutton input:disabled + label {
  color: #a6a6a6;
}

.filter-checkbox input:checked + label::before,
.filter-checkbox input:checked:hover + label::before,
.filter-checkbox input:checked:focus + label::before,
.filter-checkbox input:active + label::before,
.filter-checkbox input:checked:disabled + label::before {
  background: url("../img/checkbox-on.svg") no-repeat 0 0;
  background-size: 27px 23px;
}

.filter-checkbox input:checked:active + label::before {
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
  background-size: 23px;
}

.filter-radiobutton input:checked + label::before ,
.filter-radiobutton input:checked:hover + label::before ,
.filter-radiobutton input:checked:focus + label::before ,
.filter-radiobutton input:active + label::before ,
.filter-radiobutton input:checked:disabled + label::before {
  background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-radiobutton input:checked:active + label::before {
  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.submit-button {
  width: 200px;
  margin-top: 25px;
  outline: 2px solid blue;
  border: none;
}

.items-column {
  width: 974px;
  outline: 2px solid blue;
  display: flex;
  flex-direction: column;
}

.sorting {
  display: flex;
  outline: 2px solid blue;
  height: 70px;
  margin-bottom: 50px;
}

.sorting-wrap {
  width: 760px;
  display: flex;
  outline: 2px solid blue;
  margin-left: 70px;
  align-items: center;
}

.catalog-sort-by {
  display: flex;
  outline: 2px solid blue;
  margin-left: 50px;
  width: 300px;
  align-items: space-between;
}

.catalog-sort-by li {
  margin-right: 20px;
  margin-left: auto;
}

.sorting-direction-section {
  display: flex;
  outline: 2px solid blue;
  margin-left: auto;
  width: 42px;
  justify-content: space-between;
}

.sort-by {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.3);
}

.sorting-direction {
  opacity: 0.2;
  width: 11px;
  height: 10px;
  background-size: 11px 10px;
}

.sort-up {
 background: url("../img/icon-up-dir.svg") no-repeat 0 0;
}

.sort-down {
  background: url("../img/icon-down-dir.svg") no-repeat 0 0;
}

.sorting-direction:hover,
.sorting-direction:focus {
  opacity: 0.4;
}

.sorting-direction-current,
.sorting-direction:active {
 opacity: 1;
}

.sort-by:hover,
.sort-by:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-by-current,
.sort-by:active {
 color:#000000;
}

.catalog-list {
  display: flex;
  outline: 2px solid blue;
  width: 760px;
  flex-wrap: wrap;
  margin-left: 70px;
}

.catalog-list li {
  display: flex;
  flex-direction: column;
  outline: 2px solid blue;
  width: 360px;
  margin-right: 40px;
  margin-top: 15px;
  position: relative;
}

.catalog-list li:nth-child(2n) {
  margin-right: 0;
}

.item-info {
  display: flex;
  outline: 2px solid blue;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 25px;
}

.catalog-item-title {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
  width: 260px;
  outline: 2px solid blue;
}

.catalog-item-price {
  font-family: "Gilroy Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-align: right;
  width: 80px;
  outline: 2px solid blue;
}

.hover-links {
  outline: 2px solid blue;
  width: 360px;
  height: 379px;
  background: rgba(238, 238, 238, 0.7);
  align-self: center;
  position: absolute;
  z-index: 1;
  text-align: center;
  display: none;
}

a:hover + .hover-links,
a:focus + .hover-links,
.hover-links:hover,
.hover-links:focus {
 display: block;
}

.add-to-cart {
  width: 200px;
  padding: 8px 0;
  text-align: center;
  margin: 170px 80px 0 80px;
  outline: 2px solid blue;
}

.add-to-compare {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  outline: 2px solid blue;
  margin-top: 20px;
}

.add-to-compare:hover,
.add-to-compare:focus {
  color: #000000;
}

.add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-pagination {
  font-family: "Gilroy Extra Bold", sans-serif;
  font-size: 16px;
  font-weight: 24px;
  line-height: 1.5;
  letter-spacing: 3.2px;
  color: #000000;
  background: #ebebeb;
  text-transform: uppercase;
  display: flex;
  outline: 2px solid blue;
  width: 760px;
  height: 70px;
  margin-left: 70px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.page-numbers {
  display: flex;
  outline: 2px solid blue;
}

.page-numbers li {
  margin-right: 25px;
}

.page-numbers li:last-child {
  margin-right: 0;
}

.page-number a {
  color: rgba(0, 0, 0, 0.3);
}

.page-number:hover a,
.page-number:focus a {
  color: rgba(0, 0, 0, 0.6);
}

.page-number:active a {
  color: #000000;
}

.page-current a {
  color: #000000;
}

.go-back {
  text-align: center;
  margin-right: auto;
  width: 136px;
  height: 70px;
  padding: 25px;
  box-sizing: border-box;
}

.go-forward {
  text-align: center;
  margin-left: auto;
  width: 136px;
  height: 70px;
  padding: 25px;
  box-sizing: border-box;
}

a.go-back:hover,
a.go-back:focus,
a.go-forward:hover,
a.go-forward:focus {
  background-color: #d9d9d9;
}

a.go-back:active,
a.go-forward:active {
  color: rgba(0, 0, 0, 0.3);
}

